$!webResourceManager.requireResource("com.quisapps.jira.jss:editarea")

$!webResourceManager.requireResource("com.quisapps.jira.jss:jquery-ui-css")
$!webResourceManager.requireResource("com.quisapps.jira.jss:jquery-ui-js")

#parse("templates/plugin/action/include/header_nav.vm")
#parse("templates/plugin/action/include/error_messages.vm")

<table class='jiraform maxWidth'>
	<tr><td class="jiraformheader"><h3 class="formtitle">Jython Runner</h3></td></tr>
	<tr>
		<td class="jiraformheader">
			You can run arbitrary scripts here.
		</td>
	</tr>
	<tr>
		<td align='center' valign='top'>
			<style type="text/css">
				.containerToggle {
					text-align:left;
				}
				.outContainer {
					border: 1px solid #888888;
					padding: 5pt;
					margin: 5pt;
					text-align: left;
					font-family: monospace;
				}
			</style>	
			<div class="containerToggle">
				<h4>
					<a class='lnkToggle' href="#" onclick="return false;">Source</a>
				</h4>
			</div>
			<div id="sourceContainer">
				<div>
					<a id='jythonDefaultsToggle' href="#" onclick="return false;">Jython Context Variables</a>
					<style type="text/css">
						#jythonDefaults tr>td:first-child {
							font-weight:bold;
						}
					</style>
					<div id='jythonDefaults'>
						<table>
							<tr><td>log</td><td><a target='_blank' href='http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/Logger.html'>org.apache.log4j.Logger</a></td></tr>
						</table>
					</div>
				</div>
				<textarea id='jythonSource' rows='15' wrap='virtual' name='jythonSource' style="width:90%"></textarea>
			</div>
			<div class="containerToggle">
				<h4>
					<a class='lnkToggle' href="#" onclick="return false;">stdout</a>
				</h4>
			</div>
			<div id="outContainer" class="outContainer">
				<pre></pre>
			</div>
			<div class="containerToggle">
				<h4>
					<a class='lnkToggle' href="#" onclick="return false;">stderr</a>
				</h4>
			</div>
			<div id="errContainer" style="background:pink;" class="outContainer">
				<pre></pre>
			</div>
		</td>
	</tr>
	<tr><td valign='top'>
		<a href='http://docs.python.org/reference/' target='_blank'>Python reference</a>
	</td></tr>
	<tr><td valign='top'>
		<a href='http://jython.org/docs/index.html' target='_blank'>Jython Documentation</a>
	</td></tr>
	<tr align='center'>
		<td>
			<input id="runButton" class="spaced " type="submit"
			 title="Press Alt+Shift+S to submit form" accesskey="S"
			 value="Run" name="Run"/>
			<input id="cancelButton" type="button"
			 onclick=""
			 value="Cancel" name="Cancel" title="Cancel (Alt+Shift + `)" accesskey="`"/>
		</td>
	</tr>
</table>

<script language="javascript" type="text/javascript">
	document.title='JSS - Jython Runner';
	
	jQuery(function() {
		editAreaLoader.init({
			id : 'jythonSource',
			syntax: "python",
			start_highlight: true
		});
		jQuery('#jythonDefaults').hide();
		jQuery('#jythonDefaultsToggle').click(function() {
			jQuery('#jythonDefaults').slideToggle('fast');
		});
		
		var srcHide = contextPath + "/images/icons/arrow_hide.gif";
		var srcShow = contextPath + "/images/icons/arrow_show.gif";
		
		var imgToggle = jQuery("<img class='imgToggle' " +
			"height='16' width='16' border='0' align='absmiddle'/>");
		
		jQuery('.containerToggle h4').each(function() {
			jQuery(this).append(imgToggle.clone().attr({src: srcHide, src1: srcShow}));
		});
		jQuery(".lnkToggle").click(function() {
			var img = jQuery(this).next("img");
			img.attr({ src : img.attr("src1"), src1 : img.attr("src") });
			jQuery(this).parent().parent().next().slideToggle('fast');
		});
		jQuery(".imgToggle").click(function() {
			var img = jQuery(this);
			img.attr({ src : img.attr("src1"), src1 : img.attr("src") });
			jQuery(this).parent().parent().next().slideToggle('fast');
		});
		
		jQuery('#runButton').click(function() {
			var img = jQuery("<img>").attr({src: contextPath+"/images/gadgets/loading.gif"});
			var dlg = jQuery("<div>").append(img).dialog({
				modal:true,
				resizable:false,
				draggable : false,
				height: 85,
				width: 260
			});
			dlg.prev(".ui-widget-header").remove();
			
			jQuery.ajax({
				url: contextPath + "/rest/jss/1.0/jython/invoke/sys_runner/run",
				type: "POST",
				data: JSON.stringify({ script : editAreaLoader.getValue("jythonSource") }),
				contentType : "application/json",
				dataType: "json",
				success: function(val) {
					jQuery('#outContainer pre').text(val.out);
					jQuery('#errContainer pre').text(val.err);
					
					dlg.dialog("close");
				},
				error: function() {
					dlg.dialog("close");
					
					dlg.dialog("close");
				}
			});
		});
	});
</script>